{% extends "base.html" %}
{% load static %}

{% block extra_title %} - Home{% endblock %}

{% block extra_meta %}
<meta name="description"
    content="Book trusted and affordable cat sitting services online. Our experienced cat sitters offer personalised care for your feline friends. Book now and enjoy peace of mind while you're away.">
<meta name="keywords"
    content="cat sitting, cat sitters, cat sitting service, affordable cat sitting, professional cat care, cat sitting rates, cat sitting company, cat sitting booking, cat sitting payment, cat sitters near me, cat sitting for vacation, experienced cat sitters, personalised cat care, cat boarding alternative, reliable cat sitting, trusted cat sitting, cat sitting testimonials">
{% endblock %}

{% block content %}
<div class="row pb-4">
    <div class="col-sm-12">
        <h1 class="text-center">Welcome to Purrfect Sitters!</h1>
    </div>
    <div class="col-sm-12">
        <p class="text-center font-weight-bold">A comprehensive cat sitting service for humans who are traveling.</p>
    </div>
</div>
<div class="row">
    <h2 class="col-sm-12 text-center">ABOUT US</h2>
    <div class="col-sm-12 text-center">
        <img src="{% static 'images/cat-pose-three.png' %}" alt="site logo" width="100" height="100">
    </div>
    <div class="col-sm-12 text-center">
        <p>
        We love cats, they’re awesome. This is why we go above and beyond with our team of cat sitters, 
        who are trained to provide personalised care to ensure your cat (and their human!) feels safe, 
        less stressed and loved throughout. 
        </p>
        <p>
        No matter if you're going on vacation, a business trip, 
        or just need someone to check in on your cat while you're away, we'll handle it.
        </p>
    </div>
</div>
<hr>
<div class="row">
    <h2 class="col-sm-12 text-center">OUR SITTERS</h2>
    <div class="col-sm-12 text-center">
        <img src="{% static 'images/cat-pose-one.png' %}" alt="site logo" width="100" height="100">
    </div>
    <div class="col-sm-12 text-center">
        <p class="text-center">
        We are a team of experienced cat lovers who are passionate about providing 
        the best care for your feline friends whilst their humans aren't home. 
        </p>
        <p>
        You can expect plenty of videos and photos from us whilst we visit your furries!
        </p>
    </div>
</div>
{% endblock %}