{% extends "base.html" %}
{% load static %}

{% block extra_title %} - Home{% endblock %}

{% block extra_meta %}
<meta name="description"
    content="Book trusted and affordable cat sitting services online. Our experienced cat sitters offer personalised care for your feline friends. Book now and enjoy peace of mind while you're away.">
<meta name="keywords"
    content="cat sitting, cat sitters, cat sitting service, affordable cat sitting, professional cat care, cat sitting rates, cat sitting company, cat sitting booking, cat sitting payment, cat sitters near me, cat sitting for vacation, experienced cat sitters, personalised cat care, cat boarding alternative, reliable cat sitting, trusted cat sitting, cat sitting testimonials">
{% endblock %}

{% block content %}
<div class="d-flex text-container">
    <div class="p2 bd-highlight">
        <h1>Welcome to Purrfect Sitters!</h1>
        <p>
            A comprehensive cat sitting service for humans who are traveling.
        </p>
        <a href="#">
        <button class="btn btn-custom-dark mt-2">Book now</button>
        </a>
    </div>
</div>
<hr>
<div class="d-flex text-container">
    <div class="p-2 bd-highlight">
        <h2>ABOUT US<span class="pl-3"><img src="{% static 'images/cat-pose-three.png' %}" alt="Black cat looking up" width="45" height="45"></span></h2>
        <p>
            We love cats, they’re awesome. This is why we go above and beyond with our team of cat sitters, 
            who are trained to provide personalised care to ensure your cat (and their human!) feels safe, 
            less stressed and loved throughout. 
        </p>
        <p>
            No matter if you're going on vacation, a business trip, 
            or just need someone to check in on your cat while you're away, we'll handle it.
        </p>
    </div>
</div>
<div class="d-flex text-container">
    <div class="p-2 bd-highlight">
        <h2>OUR SITTERS<span><img src="{% static 'images/cat-pose-one.png' %}" alt="Black cat licking its paw" width="45" height="45"></span></h2>
        <p>
            We are a team of experienced cat lovers who are passionate about providing 
            the best care for your feline friends whilst their humans aren't home. 
        </p>
        <p>
            You can expect plenty of videos and photos from us whilst we visit your furries!
        </p>
    </div>
</div>
{% endblock %}