{% extends "base.html" %}
{% load static %}

{% block extra_title %} - Home{% endblock %}

{% block extra_meta %}
<meta name="description"
    content="Book trusted and affordable cat sitting services online. Our experienced cat sitters offer personalised care for your feline friends. Book now and enjoy peace of mind while you're away.">
<meta name="keywords"
    content="cat sitting, cat sitters, cat sitting service, affordable cat sitting, professional cat care, cat sitting rates, cat sitting company, cat sitting booking, cat sitting payment, cat sitters near me, cat sitting for vacation, experienced cat sitters, personalised cat care, cat boarding alternative, reliable cat sitting, trusted cat sitting, cat sitting testimonials">
{% endblock %}

{% block content %}
{% endblock %}