{% extends "base.html" %}
{% load static %}

{% load crispy_forms_tags %}

{% block extra_title %} - Make a Booking{% endblock %}

{% block extra_meta %}
{% endblock %}

{% block extra_js %}
{% endblock %}  

{% block content %}

<div class="row p-3">
    <div class="col-12">
        <div class="row">
            <div class="col-12 text-container">
                <h1>Make a Booking</h1>
                <p>
                    If you're in need of a sitter, make a booking with us below.
                    <br>
                    Ensure to include any special requests for your furries or any 
                    information about your trip that would be helpful for us to know. 
                </p>
            </div>
        </div>
        {% if not booked %}
            {% if error %}
                <h1 class="alert alert-success success-msg error-msg">{{error}}</h1>
            {% endif %}
            <!-- summary of cat information for the user -->
            <h3>Your Details</h3>
            {{ form.media }} 
            <p>You are making a booking for {{ cats|length }} cat{{ cats|length|pluralize }}: </p>
                <ul>
                    {%  for cat in cats %}
                        <li>{{ cat }}</li>
                    {% endfor %}
                </ul>
            <!-- booking form -->
            <div class="form-container">
                <form method="POST">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <button type="submit" class="btn btn-custom-dark btn-lg submit-btn mt-2">Payment</button>
                </form>
            </div>
        {% endif %}
    </div>
</div>

{% endblock %}