/*----- GOOGLE FONTS IMPORT -----*/
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Patrick+Hand&display=swap');

html {
    height: 100%;
}

body {
    font-family: 'ABeeZee', sans-serif;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

/*----- Navigation -----*/
header {
    background-color: #2a2727;
}

.navbar li {
    font-family: 'Patrick Hand', cursive;
    font-size: 1.5rem;
}

.nav-link:hover {
    transform: scale(1.1);
    transition: .2s ease-in-out;
}

/*----- Headings & Text -----*/
h1, h2, h3, h4, h5, h6 {
    font-family: 'Patrick Hand', cursive;
}

/*----- Buttons & Links -----*/
.btn-custom {
    font-family: 'Patrick Hand', cursive;
    background-color: white;
    color:#2a2727;
}

.btn-custom:hover {
    transform: scale(1.1);
    transition: .5s ease-in-out;
    color:#2a2727;
}

.btn-custom-dark {
    font-family: 'Patrick Hand', cursive;
    background-color: #2a2727;
    color: white; 
    width: 110px;
}

.btn-custom-dark:hover {
    transform: scale(1.1);
    transition: .5s ease-in-out;
    color: white;
}

/*----- Footer -----*/
footer {
    background-color: #2a2727;
    margin-top: auto;

}

footer p {
    margin-bottom: 0.5rem;
}

.social-media {
    display: flex;
    gap: 1rem;
}

.social-media a:hover {
    background-color: #111111;
    transform: scale(1.1);
    transition: .2s ease-in-out;
}

.accordion-button {
    font-size: 1.5rem;
}

/*----- Newsletter -----*/

#mc_embed_signup {
    background:#2a2727; 
    clear:left; 
}

/*----- Forms -----*/

.form-control, #div_id_booking_date {
    width: 80%;
}

/*----- Cat Profile & Detail -----*/

.text-container {
    width: 50%;
}

.fixed-image-size {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

/*----- Bootstrsp Toasts -----*/

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

/*----- Media Queries -----*/

/* medium devices (tablets, less than 768px) */

/* large devices (laptops, less than 992px) */

@media (min-width: 1024px) {
    h1 {
        font-size: 4rem;
    }

    .nav-link {
        font-size: 1.7rem;
    }

    p {
        font-size: 1rem;
    }

    h2, h3 {
        font-size: 2.5rem;
    }

    .text-container {
        max-width: 80%;
    }

    .form-container {
        width: 60%;
    }

    
}

