/*----- GOOGLE FONTS IMPORT -----*/
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Patrick+Hand&display=swap');

body {
    font-family: 'ABeeZee', sans-serif;
}

.content-container {
    padding: 5rem 3rem;  
}

/*----- Logo & Images -----*/


/*----- Headings & Text -----*/
h1, h2, h3, h4, h5, h6 {
    font-family: 'Patrick Hand', cursive;
}

/*----- Buttons -----*/
.btn-custom {
    font-family: 'Patrick Hand', cursive;
    background-color: #eeeded;
}

.btn-custom:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

/*----- Navigation -----*/
.navbar li {
    font-family: 'Patrick Hand', cursive;
    font-size: 1.5rem;
}

/*----- Footer -----*/
footer {
    background-color: #2a2727;
}

footer p {
    margin-bottom: 0.5rem;
}

.social-media {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

/* li {
    float: left;
  }

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
} */

.social-media a:hover {
    background-color: #111111;
    transform: scale(1.2);
    transition: 0.4s;
}

