/*----- GOOGLE FONTS IMPORT -----*/
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Patrick+Hand&display=swap');

body {
    font-family: 'ABeeZee', sans-serif;
}

/*----- Navigation -----*/
header {
    background-color: #2a2727;
}

.navbar li {
    font-family: 'Patrick Hand', cursive;
    font-size: 1.5rem;
}

.nav-link:hover {
    transform: scale(1.1);
    transition: .2s ease-in-out;
}

/*----- Headings & Text -----*/
h1, h2, h3, h4, h5, h6 {
    font-family: 'Patrick Hand', cursive;
}

/*----- Buttons & Links -----*/
.btn-custom {
    font-family: 'Patrick Hand', cursive;
    background-color: white;
    color:#2a2727;
}

.btn-custom:hover {
    transform: scale(1.1);
    transition: .5s ease-in-out;
    color:#2a2727;
}

.btn-custom-dark {
    font-family: 'Patrick Hand', cursive;
    background-color: #2a2727;
    color: white; 
}

.btn-custom-dark:hover {
    transform: scale(1.1);
    transition: .5s ease-in-out;
    color: white;
}

/*----- Footer -----*/
footer {
    background-color: #2a2727;
}

footer p {
    margin-bottom: 0.5rem;
}

.social-media {
    display: flex;
    gap: 1rem;
}

.social-media a:hover {
    background-color: #111111;
    transform: scale(1.1);
    transition: .2s ease-in-out;
}

.accordion-button {
    font-size: 1.5rem;
}

.form-control {
    width: 80%;
}

.cat-card {
    max-width: 100%;
    height: auto;
  }

/*----- Media Queries -----*/

/* medium devices (tablets, less than 768px) */

/* large devices (laptops, less than 992px) */

@media (min-width: 1024px) {
    h1 {
        font-size: 5rem;
    }

    .nav-link {
        font-size: 2rem;
    }

    p {
        font-size: 1.5rem;
    }

    h2, h3 {
        font-size: 3rem;
    }

    .text-container {
        max-width: 80%;
    }

    
}

