{% extends "base.html" %}
{% load static %}

{% block extra_title %} - Add a Cat{% endblock %}

{% block extra_meta %}
{% endblock %}

{% block content %}
    <div class="row p-4">
        <div class="col-sm col-lg-6">
            <h2>Add a Cat</h2>
            <p>If you have a new cat you'd like to add to your profile, please complete their information below. 
                <br>Ensure it is accurate.</p>
            <!-- add cat form -->
            <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form | crispy }}
            <button type="submit" class="btn btn-custom-dark btn-lg">Save</button>
            </form>
        </div>
    </div>
{% endblock %}