{% extends "base.html" %}
{% load static %}

{% block extra_title %} - My Profile{% endblock %}

{% block extra_meta %}
{% endblock %}

{% block content %}

<div class="d-flex text-container align-items-center">
    <h1>My Cats</h1>
    <a href="#">
        <button type="button" class="btn btn-custom-dark ml-3">Add a Cat</button>
    </a>
</div>
<hr>

    {% for cat in cat_list %}
        <section class="d-flex text-container">
            <div class="card p-2 bd-highlight" style="width: 18rem;">
                <img src="{ cat.cat_image.url }" class="card-img-top" alt="A picture of a cat for a cat profile">
                <div class="card-body">
                    <h3 class="card-title">{{ cat.cat_name }}</h3>
                    <p><span>{{ cat.cat_gender_display }}</span>, {{ cat.cat_age_display }}</p>
                    <a href="#" class="btn btn-custom-dark">View</a>
                </div>
            </div>
        </section>
    {% empty %}
            <h1>No cats here!</h1>
            <p>You don't have any cats in the system yet.</p>
            <a href="#">
                <button type="button" class="btn btn-custom-dark ml-3">Add a Cat</button>
            </a>
    {% endfor %}

{% endblock %}