{% extends "base.html" %}
{% load static %}

{% block extra_title %} - My Profile{% endblock %}

{% block extra_meta %}
{% endblock %}

{% block content %}

<section class="d-flex text-container">
    <h1>{{ cat.cat_name }}</h1>
    <p><span>{{ cat.cat_gender }}</span>, {{ cat.cat_age }}</p>
    <img src="{ cat.cat_image.url }" alt="A picture of your cat for their profile" width="20" height="20">
    <p>{{ cat.cat_description | safe }}</p>
    <p>{{ cat.vet_contact }}</p>
    <p>{{ cat.profile_updated }}</p>
</section>

{% endblock %}