{% extends "base.html" %}
{% load static %}

{% block extra_title %} - My Profile{% endblock %}

{% block extra_meta %}
{% endblock %}

{% block content %}

<div>
    <h1>My Cats</h1>
    <p>These are the cats you have on our system. Please make sure their details are up-to-date.</p>
    <a href="#">
        <button type="button" class="btn btn-custom-dark">Add a Cat</button>
    </a>
</div>
<hr>

    
    <div class="row">
        {% for cats in cat_list %}
        <div class=" col-md-6 col-lg-4">
            <div class="card-deck">
                <div class="card">
                <img class="card-img-top" src="{{ cats.cat_image.url }}" alt="A picture of your cat for their profile">
                <div class="card-body">
                    <h3 class="card-title"><i class="fa-solid fa-paw"></i> {{ cats.cat_name }}</h3>
                    <p>{{ cats.cat_gender }}, {{ cats.cat_age }}</p>
                    <small>{{ cats.cat_description | safe }}</small>
                    <a href="{% url 'cat_detail' cats.id %}" class="btn btn-custom-dark">View Details</a>
                </div>
                </div>
            </div>
        </div>
        {% empty %}
            <section class="text-center mt-5">
                <h1>No cats here!</h1>
                <p>You don't have any cats in the system yet.</p>
            </section>
        {% endfor %}
    </div>  

{% endblock %}