{% extends "base.html" %}
{% load static %}

{% block extra_title %} - Cat Profile{% endblock %}

{% block extra_meta %}
{% endblock %}

{% block content %}

<div class="row p-4">
    <div class="col-12">
        <h1>My Cats</h1>
        <p>These are the cats you have on our system. Please make sure their details are up-to-date.</p>
        <a href="{% url 'add_cat' %}" class="btn btn-custom-dark btn-lg">Add a Cat</a>
        <a href="{% url 'my_bookings' %}" class="btn btn-custom-dark btn-lg ml-1">My Bookings</a>
    </div>
</div>
<hr>
    <div class="row p-4">
        <!-- displays cat cards in a grid list -->
        {% for cats in cat_list %}
        <div class="col-md-6 col-lg-4">
            <div class="card-deck">
                <div class="card">
                <img class="card-img-top fixed-image-size" src="{{ cats.cat_image.url }}" alt="A picture of your cat for their profile">
                <div class="card-body">
                    <h3 class="card-title"><i class="fa-solid fa-paw"></i> {{ cats.cat_name }}</h3>
                    <p>{{ cats.cat_gender }}, {{ cats.cat_age }}</p>
                    <p>{{ cats.cat_description | safe }}</p>
                    <a href="{% url 'cat_detail' cats.id %}" class="btn btn-custom-dark btn-lg">More</a>
                </div>
                </div>
            </div>
        </div>
        {% empty %}
            <!-- if no cats associated with the user -->
            <section class="text-center mt-5">
                <h1>No cats here!</h1>
                <p>You don't have any cats in the system yet.</p>
                <a href="{% url 'add_cat' %}" class="btn btn-custom-dark btn-lg">Add a Cat</a>
            </section>
        {% endfor %}
    </div>  

{% endblock %}