{% extends "base.html" %}
{% load static %}

{% block extra_title %} - Cat Profile{% endblock %}

{% block extra_meta %}
{% endblock %}

{% block content %}

    <div class="row p-4">
        <div class="col-sm col-lg-6">
            <h3><i class="fa-solid fa-paw"></i> {{ cat.cat_name }}</h3>
            <p>{{ cat.cat_gender }}, {{ cat.cat_age }}</p>

            <h4>Description:</h4>
            <p>{{ cat.cat_description | safe }}</p>
            
            <h4>Vet Contact:</h4>
            <p>{{ cat.vet_contact.as_international }}</p>
            <hr>
            <a href="{% url 'edit_cat' pk=cat.pk %}" class="btn btn-custom-dark">Edit</a>
            <a href="{% url 'delete_cat' pk=cat.pk %}" class="btn btn-custom-dark">Delete</a>
            <a href="{% url 'cat' %}" class="btn btn-custom-dark">Go Back</a>
            <p class="mt-3"><small>Last updated: {{ cat.profile_updated }}</small><p>
        </div>
    </div>

{% endblock %}