<footer class="page-footer text-white p-5 fixed-bottom">
    <div class="row">
        <!-- Newsletter Section -->
        <section class="col-sm-12 col-md-4 col-lg-4 p-3">
            <h3 class="text-uppercase">SUBSCRIBE TO OUR NEWSLETTER</h3>
            <form>
                <div class="form-group">
                    <label for="newsletter">Sign up to our newsletter!</label>
                    <input type="email" class="form-control" id="newsletter" placeholder="Enter your email address">
                    <small id="emailHelp" class="form-text text-white">We'll never share your email with anyone else.</small>
                </div>
                <button type="submit" class="btn btn-custom">Submit</button>
                </form>
        </section>

        <!-- About Section -->
        <section class="col-sm-12 col-md-4 col-lg-4 p-3">
            <h3 class="text-uppercase">ABOUT US</h3>
            <p class="text-container">
            Book trusted and affordable cat sitting services online. 
            Our experienced cat sitters offer personalised care for your feline friends. 
            </p>
        </section>

        <!-- Contact Section -->
        <section class="col-sm-12 col-md-4 col-lg-4 p-3">
            <h3 class="text-uppercase">CONTACT</h3>
            <p>contact@purrfectsitters.com</p>
            <p>+44 0 795-349-729</p>

            <div class="social-media">
                <a href="https://www.facebook.com/" target="_blank">
                    <i aria-hidden="true" class="fa-brands fa-square-facebook fa-2x  text-white"></i>
                    <span class="fa-sr-only text-white">Link to Facebook. Opens in a new tab.</span>
                </a>

                <a href="https://www.instagram.com/" target="_blank">
                    <i aria-hidden="true" class="fa-brands fa-instagram fa-2x text-white"></i>
                    <span class="fa-sr-only text-white">Link to Instagram. Opens in a new tab.</span>
                </a>

                <a href="https://www.twitter.com/" target="_blank">
                    <i aria-hidden="true" class="fa-brands fa-twitter fa-2x text-white"></i>
                    <span class="fa-sr-only text-white">Link to Twitter. Opens in a new tab</span>
                </a>
            </div>
        </section>
    </div>

    <!-- Educational project disclaimer-->
    <div class="row">
        <div class="col-12">
            <div class="footer-copyright text-center py-3">
                <p>
                <small>
                    Purrfect Sitters has been created by 
                    <a href="https://github.com/CaraMcAvinchey" target="_blank" class="text-white">Cara McAvinchey</a> 
                    as a portfolio project for the Code Institutes Diploma in Full Stack Software Development
                </small>
                </p>
                <p>
                    <small>
                    As this site has been created for educational purposes, no orders received will be fulfilled.
                    </small>
                </p>
                <p>© 2023 Copyright Cara McAvinchey</p>
            </div>
        </div>
    </div>
</footer>