{% extends "base.html" %} 
{% load static %}

{% block extra_title %} - 403 Error{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <h3><i class="fa-solid fa-paw"></i> 403 ERROR</h3>
    </div>

    <div class="row">
        <div class="col-10 offset-1 text-center">
            <h4>Hello!</h4>
            <p>Looks like you're not allowed to cross this paw-ticular path.</p>
            <p>Please use the navigation menu above to try again.</p>
        </div>
    </div>
{% endblock %}