{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="author" content="Cara McAvinchey">

        <!-- SEO meta description and long-tail/short-tail keywords -->
        <meta name="description" content="Book trusted and affordable cat sitting services online. 
        Our experienced cat sitters offer personalised care for your feline friends. 
        Book now and enjoy peace of mind while you're away.">
        <meta name="keywords" content="cat sitting, cat sitters, cat sitting service, affordable cat sitting, 
        professional cat care, cat sitting rates, cat sitting company, cat sitting booking, cat sitting payment, 
        cat sitters near me, cat sitting for vacation, experienced cat sitters, personalised cat care, cat boarding alternative, 
        reliable cat sitting, trusted cat sitting, cat sitting testimonials">

        
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
        <!-- Bootstrap & Google Fonts -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&display=swap">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
        <!-- Font Awesome & Bootstrap -->
        <script src="https://kit.fontawesome.com/7cf492ae91.js" crossorigin="anonymous"></script> 
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
        </script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Purrfect Sitters {% block extra_title %}{% endblock %}</title>
</head>

  <body>
    <header class="container-fluid fixed-top"></header>

    <h1>Purrfect Siters</h1>

    {% if messages %}
        <div class="message-container"></div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block postloadjs %}
    {% endblock %}
    
  </body>
</html>